[submodule "lib/waitForKeyElements.js"]
	path = lib/waitForKeyElements.js
	url = https://github.com/CoeJoder/waitForKeyElements.js.git
[submodule "lib/userscriptUtils.js"]
	path = lib/userscriptUtils.js
	url = https://github.com/CoeJoder/userscriptUtils.js.git
