/*
 * Dark Theme
 *
 * Source: https://chromewebstore.google.com/detail/dark-mode-for-deepl/lgldkcjfjjfbbfdibpnloponileegnbd
 * Extracted using: https://github.com/Rob--W/crxviewer
 *
 * Other Changes:
 *  - hide frontpage slop
 */

 /* hide frontpage slop */
[class^="homeExperience_homeExperience"],
[class*=" homeExperience_homeExperience"] {
  display: none !important;
}

body,
body * {
  background-color: #121212 !important;
  color: #e0e0e0 !important;
  border-color: #333 !important;
}

/* Panels */
.lmt__inner_textarea_container,
.lmt__side_container,
.lmt__textarea_container {
  background-color: #1e1e1e !important;
}

/* Text areas */
textarea,
input,
.lmt__textarea {
  background-color: #1c1c1c !important;
  color: #ffffff !important;
  border: 1px solid #333 !important;
}

/* Top bar */
.dl_header,
.lmt__header,
header {
  background-color: #1b1b1b !important;
  color: #fff !important;
}

/* Buttons and dropdowns */
button,
select,
.lmt__language_select__menu {
  background-color: #2a2a2a !important;
  color: #f0f0f0 !important;
  border: 1px solid #444 !important;
}

/* Links */
a {
  color: #82aaff !important;
}

/* Remove bright highlights */
::selection {
  background: #444 !important;
  color: #fff !important;
}
