/*
 * Dark Theme
 *
 * Other Changes
 * - dark grey background: header
 * - light grey text: logo, search box
 * - hide banner: "Your browser might prevent calls from ringing."
 * - hide banner: "Try one-click dialing"
 */

/* known color variables */
/*
  --mat-sys-surface-container-highest    light grey
  --mat-sys-surface-container            medium grey
  --mat-sys-surface-container-low        medium grey
  --mat-card-filled-container-color      dark grey
  --mat-card-filled-container-shape
  --mat-sys-background                   dark grey
  --mat-sys-on-background                light grey (font)
  --mat-sys-corner-medium
  --mat-card-filled-container-elevation  
  --mat-sys-level0
*/

/* forcibly apply the hidden "dark theme" feature */
:root,
html,
body,
*,
::before,
::after {
  color-scheme: dark !important;
}

/* The rest of the rules are modifications to the built-in dark theme */

/* header */
header {
  background-color: var(--mat-sys-background) !important;
}

/* logo */
header a[aria-label="Google Voice"] span {
  color: var(--mat-sys-on-background) !important;
}

/* search box */
header input[aria-label="Search"],
header input[aria-label="Search"]::placeholder {
  color: fieldtext;
}

/* hide banner: "Your browser might prevent calls from ringing." */
#gvAppBannerContainer:has([aria-label="learn more about browser audio"]) {
  display: none !important;
}

/* hide banner: "Try one-click dialing" */
#gvAppBannerContainer:has(
  [aria-label="Learn more about calling numbers linked in your browser"]
) {
  display: none !important;
}
